@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap");

:root {
  --padding-container: 100px 0px;
  --color-title: #001a49;
}

body {
  font-family: "Prompt", sans-serif;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url("../Asset/portada.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

/*NAV*/

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav_title {
  margin-left: 300;
}

.nav_link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav_items {
  list-style: none;
}

.nav_links {
  color: #fff;
  text-decoration: none;
}

.nav_menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}
.nav_submenu ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

/* .nav .nav_link .nav_submenu li {
  display: inline-block;
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  background-color: #000;
  border: 1px solid #000;
  text-align: center;
  color: #fff;
  position: relative;
}

.nav .nav_link .nav_submenu li:hover {
  background-color: #fff;
  color: #000;
}
.nav .nav_link .nav_submenu li > ul {
  display: none;
}

.nav .nav_link .nav_submenu li:hover > ul {
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
} */

.nav_img {
  display: block;
  width: 30px;
}
.nav_close {
  display: var(--show, none);
}
/* Hero container */

.hero_container {
  max-width: 800px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero_title {
  font-size: 3rem;
}

.hero_paragraph {
  margin-bottom: 20px;
}
